$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__nav_link: #605E5E;
$color__nav_link-acitve: #8C288A;
$color__nav_link-hover: #BADA55;

$lime-green: rgba(216, 222, 64, 1);
$purple: #A3238E;
$medium-purple: #821e7f;
$dark-purple: rgba(105, 14, 103, 1);
$dark-blue: #002E5D;
$navy-blue: #002035;
$dark-purple-95: rgba(105, 14, 103, 0.95);
$light-white: #f4f4f4;
$light-grey: #F7F7F7;
$light-yellow: rgba(235, 239, 144, 1);
