html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	overflow-x: hidden;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.lime-green {
	color: $lime-green;
}

.light-yellow {
	color: $light-yellow;
}

.lime-gradient-bg {
	background: rgb(215,223,33);
	background: -moz-linear-gradient(left, rgb(215,223,33) 0%, rgb(57,181,74) 100%);
	background: -webkit-linear-gradient(left, rgb(215,223,33) 0%,rgb(57,181,74) 100%);
	background: linear-gradient(to right, rgb(215,223,33) 0%,rgb(57,181,74) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7df21', endColorstr='#39b54a',GradientType=1 );
}

.lime-gradient-bg-reverse {
	background: rgb(57,181,74);
	background: -moz-linear-gradient(left, rgb(57,181,74) 0%, rgb(215,223,33) 100%);
	background: -webkit-linear-gradient(left, rgb(57,181,74) 0%,rgb(215,223,33) 100%);
	background: linear-gradient(to right, rgb(57,181,74) 0%,rgb(215,223,33) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b54a', endColorstr='#d7df21',GradientType=1 );
}

.do-not-show {
	display: none;
}

.capabilites-container {

	.col-md-4 {
		min-height: 70px;

		&:last-child {
			min-height: initial;
		}

		.col-xs-3 {
			width: 17%;
			padding: 0;

			img {
				cursor: pointer;	// is this going to screw things up?
			}
		}

		.col-xs-9 {
			width: 83%;
			padding: 0;

			h4 {
				@include font-size(1.8);
				font-family: $font_subheading;
				margin-top: 20px;
				color: #605E5E;
				cursor: pointer;
				padding-bottom: 10px;
				border-bottom: 1px solid #eaeaea;
			}

			.icon-description {
				display: none;
				position: relative;
				top: -10px;
				left: 0;
				width: 100%;
				background: #fbfbfb;
				@include border-radius(0px, 0px, 5px, 5px);
				box-shadow:0px 4px 10px -6px rgba(0, 0, 0, 0.2);
				-webkit-box-shadow:0px 4px 10px -6px rgba(0, 0, 0, 0.2);
				-moz-box-shadow:0px 4px 10px -6px rgba(0, 0, 0, 0.2);
				-ms-box-shadow:0px 4px 10px -6px rgba(0, 0, 0, 0.2);
				z-index: 10;
				padding: 15px;
				border: 1px solid #eaeaea;
				border-top: none;
				@include breakpoint(small) {
						@include position-absolute(50px, auto, auto, 0);
				}

				p {
					@include font-size(1.6);
					font-family: $font_subheading;
					font-weight: 100;
					color: #605E5E;
					margin: 0;
				}
			}
		}
	}

	img {
		max-height: 70px;
	}

}

.dashed{
  stroke-dasharray: 10;

}
.path {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// ===================================================

.parallax-overlay {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4); // Often overwritten
    height: 100%;
    width: 100%;
}

// ===================================================
// Popups which appear on squeeze pages and the blog
// ===================================================
.popup {
    opacity: 0;
    width:100%;
    position:absolute;
    z-index: 1;

    background: rgba(161,38,140,0.9);
    background: -moz-linear-gradient(left, rgba(161,38,140,0.9) 0%, rgba(0,36,55,0.9) 100%);
    background: -webkit-linear-gradient(left, rgba(161,38,140,0.9) 0%, rgba(0,36,55,0.9) 100%);
    background: linear-gradient(to right, rgba(161,38,140,0.9) 0%, rgba(0,36,55,0.9) 100%);

    .close-popup {
        float: right;
        margin-top: 6%;
        background: url('../../uploads/2017/07/Close-button-02.png');
        background-size: contain;

        width: 35px;
        height: 35px;

        @media screen and (min-width: 992px) {
            margin-right: 20%;
        }

        @media screen and (max-width: 991px) {
            margin-right: 4%;
        }

        &:hover {
            background: url('../../uploads/2017/07/Close-button-01.png');
            background-size: contain;
        }
    }
}

.form-wrapper {
    position: relative;
    width: 100%;
}

.center-vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform-translate(-50%, -50%);

    width: 100%;
}

.fancybox-arrow {
	box-shadow: none !important;
}

.a-html {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
}

.a-body {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.a-enter-vr {
	display: none;
}

#wp-admin-bar-in-development {
	position: relative;
	float: right !important;

	&.not-developing:after {
		background: green;
		@include box-shadow(0px 0px 10px 7px green);
	}

	a {
		padding-left: 40px !important;
	}

	&:after {
		content: '' !important;
		width: 10px !important;
		height: 10px !important;
		background: red;
		@include position-absolute(50%, auto, auto, 15px);
		@include border-radius(100%, 100%, 100%, 100%);
		@include transform-translateY(-50%);
		@include box-shadow(0px 0px 10px 7px red);
	}
}

@keyframes loading {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(359deg);
		transform: translate(-50%, -50%) rotate(359deg);
	}
}
