#wp-admin-bar-in-development {
	position: relative;
	float: right !important;

	
}

#wp-admin-bar-in-development.not-developing:after {
	background: green;
	box-shadow: 0px 0px 10px 7px green;
    -webkit-box-shadow: 0px 0px 10px 7px green;
    -moz-box-shadow: 0px 0px 10px 7px green;
    -ms-box-shadow: 0px 0px 10px 7px green;
}

#wp-admin-bar-in-development a {
	padding-left: 40px !important;
}

#wp-admin-bar-in-development:after {
		content: '' !important;
		width: 10px !important;
		height: 10px !important;
		background: red;
		position: absolute;
	    top: 50%;
	    right: auto;
	    bottom: auto;
	    left: 15px;
		border-radius: 100% 100% 100% 100%;
	    -webkit-border-radius: 100% 100% 100% 100%;
	    -moz-border-radius: 100% 100% 100% 100%;
	    -ms-border-radius: 100% 100% 100% 100%;
		transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
		box-shadow: 0px 0px 10px 7px red;
	    -webkit-box-shadow: 0px 0px 10px 7px red;
	    -moz-box-shadow: 0px 0px 10px 7px red;
	    -ms-box-shadow: 0px 0px 10px 7px red;
	}