/* Section Ten */
.contact-form {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    border-top: 1px solid #5b2666;

    h1 {
        color: #ffffff;
        @include font-size(4);
        margin-top: 0px;
        margin-bottom: 40px;
        opacity: 0;
    }

    .contact-container {
        opacity: 0;
    }

    .contact-description {
        font-family: $font_subheading;
        color: #eaeaea;
        width: 100%;
        margin-bottom: 40px;
        @include breakpoint(small) {
            max-width: 500px;
            margin: 0 auto 40px auto;
        }

        p {
            margin: 0;
        }
    }
}

footer {
    float: left;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: $navy-blue;
    border-bottom: 5px solid rgba(216, 222, 64, 1);
    padding: 15px 0;
    z-index: 10;

    p {
        margin-bottom: 0px;
        color: #ffffff;
        @include font-size(1.3);
    }

    a {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
            color: #ffffff;
        }

        &:focus {
            color: #c3c3c3;
        }
    }

    .col-xs-12 {
        margin-bottom: 10px;
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
            margin-bottom: 0px;
        }

        .pull-right {
            width: 100%;
            @include breakpoint(medium) {
                width: auto;
            }

            p {
                @include breakpoint(medium) {
                    float: left;
                    text-align: right;
                }
            }

            img {
                margin-top: 10px;
                @include breakpoint(medium) {
                    float: left;
                    margin-top: 4px;
                    padding-left: 12px;
                }
            }
        }
    }
}

// remove the colour of the clicked email link
