#referer-overlay {
    display: none;
    position: fixed !important;
    @include position-absolute(0, auto, auto, 0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;

    .referer-overlay-content {
        opacity: 0;
        background: #f9f9f9;
        padding: 40px;
        width: 100%;
        max-width: 625px;
        border: 5px solid #d8de40;
        background-clip: initial !important;
        @include position-absolute(-35%, auto, auto, 50%);
        @include transform-translate(-50%, -50%);
        @include border-radius(12px, 12px, 12px, 12px);
        box-shadow: 0px 23px 42px -22px rgba(0,0,0,0.8);

        .close-referer {
            @include position-absolute(7px, 7px, auto, auto);
            cursor: pointer;

            .fa {
                @include font-size(2);
                color: #cccccc;
            }
        }


        .logos-container {
            margin-bottom: 30px;

            img {
                display: inline-block;

                &:last-child {
                    margin-left: 40px;
                    max-height: 56px;
                    margin-top: 15px;
                }
            }
        }


        .referer-content-container {

            h2 {
                font-family: $font__heading;
                font-weight: 400;
                margin-bottom: 25px;
                margin-top: 0px;
                color: #A3238E;
            }

            p {
                font-family: $font_subheading;
                @include font-size(1.8);
                font-weight: 100;
            }

            p:first-of-type {
                font-weight: 400 !important;
            }

            p:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}

.fixed-social-sidebar {
    display: none;
    background: url(images/social-sidebar.png) no-repeat;
    position: fixed;
    top: 22%;
    left: 0;
    z-index: 1000;
    width: 66px;
    height: 385px;
    @include breakpoint(medium) {
        display: block;
    }

    ul {
        float: left;
        width: 100%;
        margin: 100px 0 0 0;
        padding: 0;
        text-align: center;
        list-style: none;

        li {
            float: left;
            padding-left: 7px;
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.scroll-btn {
    background: rgba(140,40,138,0.55);
    width: 85px;
    height: 85px;
    position: fixed;
    bottom: 0;
    right: 3%;
    z-index: 99;
    cursor: pointer;
    display: none;

    .fa-angle-up {
        color: #ffffff;
        border: 2px solid #ffffff;
        @include border-radius(100%, 100%, 100%, 100%);
        width: 35px;
        height: 35px;
        @include font-size(2.4);
        @include position-absolute(50%, auto, auto, 50%);
        @include transform-translate(-48%, -50%);

        &:before {
            position: relative;
            top: 1px;
        }
    }
}

header {
    background: #ffffff;
    width: $size__site-main;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 5px solid $lime-green;
    padding: 15px 0px;
    height: 90px;
    z-index: 100;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.7));

    .logo {
        width: 153px;
        max-width: none;
    }

    .green-btn-container {
        @include breakpoint(medium) {
            width: 20%;
        }
        @include breakpoint(large) {
            width: 16.66666667%;
        }
        .green-btn {
            margin-top: 5px;
            display: none;
            max-width: 185px;
            @include breakpoint(large) {
                display: block;
            }
        }
    }

    .col-md-7 {
        @include breakpoint(medium) {
            width: 63.333333%;
        }
        @include breakpoint(large) {
            width: 66.66666667%;
        }
    }


    .menu-toggle {
        background: $medium-purple;
        border: none;
        box-shadow: none;
        text-shadow: none;
        padding: 12px;
        float: right;
        position: relative;
        transition: background 500ms;
        @include border-radius(7px, 7px, 7px, 7px);

        .fa-bars {
            color: #ffffff;
            font-size: 30px;
        }

        &:hover {
            background: $dark-purple;
        }
    }
}

.logged-in header {
    top: 32px;
}
