button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	@include font-size(1.6);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	outline: 0;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

.green-btn {
	background: $lime-green;
	padding: 10px 12px;
	font-family: $font__heading;
	float: right;
	position: relative;
	color: $dark-blue;
	@include transition(color 0.4s ease 0s, background 0.4s ease 0s, border-color 0.4s ease 0s);
	text-align: center;
	width: 100%;
	@include font-size(1.78);
	@include border-radius(10px, 10px, 10px, 10px);

	&:hover {
		background: $purple;
		color: #ffffff;
	}

	@media (min-width: 992px) {
		@media (max-width: 1003px) {
			@include font-size(1.75);			
		}
	}
}

.button {
	border: 2px solid $dark-purple;
	color: $purple;
	padding: 12px 40px;
	font-family: $font_subheading;
	letter-spacing: 1px;
	font-weight: 300;
	margin-top: 50px;
	display: inline-block;
	@include border-radius(10px, 10px, 10px, 10px);
	@include font-size(1.8);
	@include transition(color 0.4s ease 0s, background 0.4s ease 0s, border-color 0.4s ease 0s);

	&:hover {
		color: #ffffff;
		background: $medium-purple;
		border-color: #C65AA5;
	}
}

.button.green {
	border: 2px solid $lime-green;
	color: $lime-green;

	&:hover {
		color: #000000;
		background: $lime-green;
		border-color: #70B354;
	}
}

.button.orange {
	border-color: rgb(250, 166, 44);
	color: #777777;

	&:hover {
		color: #ffffff;
		background: rgb(250, 166, 44);
		border-color: rgb(250, 128, 44)
	}
}

.button.white {
	border: 2px solid #ffffff;
	color: #ffffff;

	&:hover {
		color: #000000 !important;
		background: #ffffff;
		border-color: #cccccc;
	}
}
