@import "buttons";
@import "fields";

/* Contact Form */
.wpcf7-form {
    @include breakpoint(medium) {
        max-width: 60%;
        margin: 0 auto;
    }
    p {
        margin-bottom: 0px;

        .wpcf7-form-control-wrap {
            position: relative;
            float: left;
            width: 100%;

            input,
            textarea {
                @include border-radius(0px, 0px, 0px, 0px);
                padding: 7px 10px;
                border: none;
                font-family: $font_subheading;
                letter-spacing: 1px;
                font-weight: 100;
                width: 100%;
                margin-bottom: 10px;
                float: left;
            }

            span.wpcf7-not-valid-tip {
                @include font-size(1.3);
                pointer-events: none;
                margin-top: 10px;
                text-align: center;

                @include breakpoint(small) {
                    @include position-absolute(10px, 10px, auto, auto);
                    margin-top: 0px;
                }
            }
        }

        .your-name {
            float: left;
            width: 49.25%;
        }

        .your-email {
            float: right;
            width: 49.25%;
        }

        .wpcf7-submit {
            background: rgba(105, 14, 103, 1);
            border: none;
            @include border-radius(0px, 0px, 0px, 0px);
            box-shadow: none;
            color: #ffffff;
            font-family: $font_subheading;
            @include font-size(2.2);
            letter-spacing: 1px;
            font-weight: 100;
            padding: 15px;
            text-shadow: none;
            width: 100%;
            @include transition-single(background 0.2s);

            &:hover {
                background: white;
                color: black;
            }
        }

    }

    .wpcf7-response-output {
        margin: 0px;
        padding: 10px;
        color: #ffffff;
        font-family: $font_subheading;
        letter-spacing: 1px;
        @include font-size(1.7);
        font-weight: 100;
    }
}
