.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	@include breakpoint(large) {
		margin-top: 30px;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul.sub-menu {
			position: relative;
			background: transparent;
			box-shadow: none;
			padding: 0 0 20px 0;
			top: 0;
			left: -999em;
			display: none;
			@include breakpoint(medium) {
				background: rgba(255, 255, 255, 0.9);
				float: left;
				position: absolute;
				top: 1.5em;
				z-index: 99999;
				padding: 0;
			}


			ul {
				left: -999em;
				top: 0;
			}

			li {
				width: 100%;
				border-bottom: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
				padding: 5px 5px;
				color: $color__nav_link;
				text-align: center;

				&:hover,
				&:focus,
				&:active {
					color: $color__nav_link-hover;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 0;
		}
	}

	li {
		float: left;
		position: relative;
		@include breakpoint(large) {
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid #eeeeee;
		}

		&:last-child {
			@include breakpoint(large) {
				margin-right: 0px;
				padding-right: 0px;
				border-right: none;
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}

	li.current_page_item a 
{		color: $color__nav_link-acitve;
	}

	li.menu-item-has-children > a {
		position: relative;

		&:after {
			font-family: 'FontAwesome';
			font-size: 18px;
			@include position-absolute(50%, 5px, auto, auto);
			@include transform-translateY(-50%);
			@include breakpoint(medium) {
					content: '';
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__nav_link;
		font-family: $font_subheading;
		letter-spacing: 1px;
		font-weight: 100;
		@include font-size(1.6);

		&:hover,
		&:focus,
		&:active {
			color: $color__nav_link-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation.toggled {

	ul {
		background: $dark-purple-95;
		width: 100%;
	    position: fixed;
	    top: 90px;
	    left: 0;
	    height: 100%;
		padding: 20px;
		@include box-shadow(inset 0px 9px 12px -10px rgba(0, 0, 0, 0.4));

		li {
			width: 80%;
		    max-width: 260px;
		    border-bottom: 1px solid #fff;
		    margin: 0 auto;
		    display: block;
		    float: none;

			&:last-child {
				border-bottom: none;
			}

			a {
				padding: 10px;
				@include font-size(2);
				letter-spacing: 2px;
				font-weight: 100;
				color: #fff;
				text-align: center;
				font-family: $font_subheading;

				&:hover {
					color: $lime-green;
				}

				@media (max-height: 625px) {
					padding: 2px;
				}
			}
		}
	}
}

@include breakpoint(large) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: inline-block;
	}
	.menu-main-navigation-container {
		text-align: center;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.hide-on-desktop {
	@include breakpoint(large) {
		display: none !important;
	}

	.remove-bottom-border li {
		border-bottom: none;
	}
}

.hide-on-mobile {
	display: none !important;

	@include breakpoint(large) {
		display: block !important;
	}
}