.error404 {
    background: url(../../../wp-content/uploads/2016/10/get_in_contact_bg.png) no-repeat top center / cover;

    .not-found {
        min-height: 730px;
        height: 100vh;

        .error-content {
            @include position-absolute(50%, auto, auto, 50%);
            @include transform-translate(-50%, -50%);
            max-width: 430px;
            width: 100%;
            padding: 0 20px;

            h1 {
                font-size: 140px;
                font-weight: bold;
                margin-bottom: 40px;
            }

            h2 {
                font-weight: bold;
                font-size: 60px;
            }

            h3 {
                margin: 0;
                font-weight: 100;
                font-size: 31px;
            }

            h1, h2, h3 {
                color: #ffffff;
            }
        }
    }

}
