/* Blog, Single Post */
.blog,
.single-post {

    .container {
        padding: 20px;

        .post {
            position: relative;
            font-family: $font_subheading;
            font-weight: 100;
            float: left;
            width: 100%;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
            padding-bottom: 50px;

            &:last-child {
                border-bottom: none;
            }

            h1, h2, h3, h4, h5, h6 {
                color: $purple;
                margin-bottom: 20px;
            }

            h1 {
                @include font-size(3.6);
                color: $purple;
                font-weight: 100;
                line-height: 34px;

                a {
                    color: $purple;
                }
            }

            .meta-data {
                @include font-size(1.4);
                margin-bottom: 20px;
                float: left;
                width: 100%;
            }

            .entry-content {
                float: left;
                width: 100%;
            }

            .button {
                margin-top: 30px;
            }

            .featured-image img {
                width: 100%;
            }

            p {
                img {
                    // width: 100%;
                }
            }
        }

        .page-numbers {
            background: #dcdada;
            padding: 10px;
            color: #777777;
            font-weight: 100;
            font-family: $font_subheading;

            &.current,
            &:hover {
                background: $dark-purple;
                color: #ffffff;
            }
        }

        .sidebar {
            .widget {
                position: relative;
                margin-bottom: 50px;
                display: none;
                @include breakpoint(medium) {
                    display: block;
                }

                h2 {
                    @include font-size(2.1);
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        font-family: $font_subheading;
                        @include font-size(1.5);
                        font-weight: 100;
                        color: #777;
                        margin-bottom: 10px;
                    }
                }

                a {
                    font-size: 15px !important;
                    color: #777;
                    font-weight: 100;
                    font-family: $font_subheading;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        @include breakpoint(medium) {
            @media (max-width: 1033px) {
                padding-left: 35px;
            }
        }
    }

    .blog-author {

        .crew-detail {
            min-height: 260px;

            .crew-detail-wrapper .crew-details {
                left: 0%;
                opacity: 1;
            }
        }
    }

    .parallax-window {
        padding: 30px 30px 35px 30px;
        // background: rgba(105, 14, 103, 0.75);
        position: relative;
        height: 100%;

        h1 {
            @include font-size(4.6);
            margin-top: 0px;
        }

        .button {
            margin-top: 0px;
        }
    }

    .parallax-content {
        @include transform-translate(0, 0);
    }

    .popup {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 35%;
        min-height: 350px;

        h3 {
            color: white;
            margin-bottom: 1.4em;
        }

        .close-popup {
            margin-top: 1%;
            position: relative;
        }

        .em_wfe_form {
            .wfe_component {
                @media screen and (max-width: 850px) {
                    float: none;
                }

                @media screen and (min-width: 851px) {
                    width: 23%;
                    margin-left: 10px;
                    float: left;
                }
            }
        }
    }

    .textwidget {
        background: rgba(161,38,140,1);
        background: -moz-linear-gradient(left, rgba(161,38,140,1) 0%, rgba(0,36,55,1) 100%);
        background: -webkit-linear-gradient(left, rgba(161,38,140,1) 0%, rgba(0,36,55,1) 100%);
        background: linear-gradient(to right, rgba(161,38,140,1) 0%, rgba(0,36,55,1) 100%);

        padding: 12px 20px;
        min-height: 365px;

        form {
            width: 85%;
        }

        h3 {
            color: white;

            &.thanks-signup {
                width: 100%;
                margin: 0;
                @include position-absolute(50%, auto, auto, 50%);
                @include transform-translate(-50%, -50%);
            }
        }

        .wfe_component {
            margin: 10px 0px;
        }
    }

    // Sign up form
    .em_wfe_form {
        $signup-form-color: rgba(255, 255, 255, 0.6);
        width: 60%;
        margin: auto;

        .wfe_component {
            float: none;
            font-size: 1.6rem;

            input {
                border-radius: 12px;
                border: 2px solid $signup-form-color;
                margin-bottom: 0px;
                padding: 7px 10px;

                background-color: transparent;
                color: white;

                width: 100%;
                height: 42px;

                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    $signup-form-color;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color:    $signup-form-color;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color:    $signup-form-color;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color:    $signup-form-color;
                }
                &::-ms-input-placeholder { /* Microsoft Edge */
                   color:    $signup-form-color;
                }

                @media screen and (max-width: 850px) {
                    width: 50% !important;
                    float: none !important;
                    margin: 10px auto;
                    display: block;
                    min-width: 190px;
                }
            }

            .wfe_button {
                border: none;

                background: rgba(213, 223, 36, 1);
                color: rgba(53, 53, 53, 1);

                @include transition-single(background 0.2s);

                &:hover {
                    background: white;
                }

                // Overwriting the stuff we get out of _buttons.scss
                box-shadow: none;
                padding: 0;
                text-shadow: none;
            }
        }

        p {
            display: none;
        }

        h3 {
            margin-bottom: 0px;
        }
    }
}

.blog h1 {
    margin-bottom: 5px !important;
}
