/* Client Videos */
.page-template-page-client-videos {

    .site-content:before {
        display: none;
    }

    .tooltip-inner {
        width: 70px !important;
    }

    .error-content {
        height: 100vh;
        position: relative;
        background: rgba(159,35,140, 0.9);
        background: -moz-linear-gradient(left, rgba(159,35,140,0.9) 0%, rgba(0,32,53,0.9) 100%);
        background: -webkit-linear-gradient(left, rgba(159,35,140,0.9) 0%,rgba(0,32,53,0.9) 100%);
        background: linear-gradient(to right, rgba(159,35,140,0.9) 0%,rgba(0,32,53,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f238c', endColorstr='#002035',GradientType=1 );

        h1 {
            color: #ffffff;
            text-align: center;
            margin: 0;
            width: 100%;
            @include position-absolute(50%, auto, auto, 50%);
            @include transform-translate(-50%, -50%);
        }

        .password-form-wrapper {
            width: 100%;
            max-width: 80%;
            @include position-absolute(50%, auto, auto, 50%);
            @include transform-translate(-50%, -60%);
            @include breakpoint(small) {
                max-width: 650px;
            }

            p {

                &:first-child {
                    color: #ffffff;
                    text-align: center;
                    margin: 0;
                    width: 100%;
                    font-size: 32px;
                    line-height: 1.2;
                    font-family: $font__heading;
                    margin-bottom: 20px;
                } 

                &:last-child {
                    margin: 0;
                    text-align: center;

                    input[type="submit"] {
                        padding: 12px;
                        text-align: center;
                        background: transparent;
                        border: 2px solid #ffffff;
                        @include border-radius(15px, 15px, 15px, 15px);
                        color: #ffffff;
                        font-size: 18px;
                        font-family: $font_subheading;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        position: relative;
                        cursor: pointer;
                        display: block;
                        margin: 20px auto;
                        @include box-shadow(none);
                        width: 200px;
                        text-shadow: none;
                        @include transition-single(all 0.3s);

                        &:hover {
                            background: #ffffff;
                            color: #000000;
                        }
                    }
                }  
            }

            label {
                font-size: 0px;
                width: 100%;
                max-width: 320px;

                input[type="password"] {
                    background: rgba(255, 255, 255, 0.25);
                    padding: 8px;
                    width: 100%;
                    font-size: 18px;
                    border: 2px solid rgba(163, 35, 142, 0.15) !important;
                    @include border-radius(15px, 15px, 15px, 15px);
                    text-align: center;
                    color: #ffffff;
                    outline: none;
                    font-family: $font_subheading;
                }
            }
        }

    }

    .client-videos-search-container {

        h1 {
            margin-top: 0px;
            margin-bottom: 30px;
        }

        .row {
            position: relative;

            &#price-range {
               display: none;
            }

            &#search-row {
                max-width: 480px;
                width: 100%;
                margin: 30px auto 0 auto;
            }

            &#search-options {
                max-width: 80%;
                margin: 20px auto 0 auto;
            }

            .text-fields {
                background: rgba(255, 255, 255, 0.25);
                padding: 8px;
                max-width: 150px;
                font-size: 18px;
                border: 2px solid rgba(163, 35, 142, 0.15) !important;
                @include border-radius(15px, 15px, 15px, 15px);
                text-align: center;
                color: #ffffff;
                outline: none;
                font-family: $font_subheading;
            }

            .category-btns {
                padding: 8px;
                text-align: center;
                background: transparent;
                border: 2px solid #ffffff;
                @include border-radius(15px, 15px, 15px, 15px);
                color: #ffffff;
                font-size: 18px;
                font-family: $font_subheading;
                margin-top: 20px;
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;

                &.selected {
                    background: #ffffff;
                    color: #a3238e;

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    &:after {
                        content: '';
                        background: inherit;
                        width: 60px;
                        height: 60px;
                        @include position-absolute(auto, auto, -17px, 50%);
                        @include transform-translateX(-50%);
                        @include border-radius(100%, 100%, 100%, 100%);
                        z-index: 0;
                    }
                }
            }

            #search-client-project {
                width: 100%;
                max-width: none;
                margin: 10px 0;

                &::placeholder,
                &::-webkit-input-placeholder {
                    color: #ffffff;
                }
            }

            #price-slider-wrapper {
                height: 47px;

                #price-slider {
                    background: #eeeeee;
                    width: 90%;
                    height: 10px;
                    border: none;
                    @include position-absolute(50%, auto, auto, 50%);
                    @include transform-translate(-50%, -50%);
                    @include border-radius(0px, 0px, 0px, 0px);

                    .ui-slider-range {
                        background: #a3238e;
                        border: 1px solid #696464;
                    }

                    .ui-slider-handle {
                        background: #a3238e;
                        border: 1px solid #ffffff;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        top: -7px;
                        @include border-radius(100%, 100%, 100%, 100%);
                        outline: none;

                    }
                }
            }
        }

        .items-container {
            float: none;
            text-align: center;
            padding: 30px;
            background: rgba(163, 35, 142, 0.25);
            position: relative;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: grid;
            border: 2px solid rgba(255, 255, 255, 0.25);
            @include border-radius(15px, 15px, 15px, 15px);
            @include breakpoint(large) {
                float: left;
                max-width: none;
                display: block;
            }

            .items-wrapper {
                @include breakpoint(large) {
                    display: block;
                }

                &#capability-items {
                    display: none;

                    .items {
                        //margin-bottom: 10px;
                        width: 250px;
                    }
                }

                .items {
                    padding-left: 20px;
                    color: #ffffff;
                    font-size: 16px;
                    font-family: $font_subheading;
                    cursor: pointer;
                    width: 250px;
                    margin-right: 17px;
                    text-align: left;

                    span {
                        line-height: 19px;
                    }

                    &.selected:before {
                        background: #ffffff;
                        border: none;
                    }

                    &:before {
                        content: '';
                        @include position-absolute(6px, auto, auto, 0);
                        width: 12px;
                        height: 12px;
                        background: transparent;
                        border: 2px solid #ffffff;
                        @include border-radius(100%, 100%, 100%, 100%);
                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    .client-videos-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(159,35,140, 0.9);
        background: -moz-linear-gradient(left, rgba(159,35,140,0.9) 0%, rgba(0,32,53,0.9) 100%);
        background: -webkit-linear-gradient(left, rgba(159,35,140,0.9) 0%,rgba(0,32,53,0.9) 100%);
        background: linear-gradient(to right, rgba(159,35,140,0.9) 0%,rgba(0,32,53,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f238c', endColorstr='#002035',GradientType=1 );


    }

    .client-videos-search-container {
        display: none;
        padding: 40px 0 60px 0;
        background: rgb(159,35,140);
        background: -moz-linear-gradient(left, rgba(159,35,140,1) 0%, rgba(0,32,53,1) 100%);
        background: -webkit-linear-gradient(left, rgba(159,35,140,1) 0%,rgba(0,32,53,1) 100%);
        background: linear-gradient(to right, rgba(159,35,140,1) 0%,rgba(0,32,53,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f238c', endColorstr='#002035',GradientType=1 );

        h1 {
            color: #fff;
            font-weight: bold;
        }
    }

    .client-videos-container {
        position: relative;
        padding: 60px 0 40px 0;
        @include breakpoint(small) {
            padding: 20px 0 60px 0;
        }

        #cant-find {
            @include position-absolute(50%, auto, auto, 50%);
            @include transform-translate(-50%, -50%);
            margin: 0;
            max-width: 650px;
        }

        #videos-wrapper {
            position: relative;
            opacity: 0;
            min-height: 445px;

            .video-columns {
                float: none;
                display: block;
                margin: 0 auto;

                @include breakpoint(small) {
                    padding: 0 2px;
                    margin-top: 40px;
                    float: left;
                }

                .video-thumbnail-wrapper {
                    position: relative;
                    float: left;
                    width: 100%;
                    cursor: pointer;
                    @include transition-single(all 500ms);

                    .video-thumbnail-content {
                        position: relative;

                        &:after {
                            content: '';
                            @include position-absolute(auto, auto, 0, 0);
                            width: 100%;
                            height: 100%;
                            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
                            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
                        }

                        .video-thumbnail {
                            width: 100%;
                            height: 320px;
                            @include breakpoint(small) {
                                height: 220px;
                            }
                            @include breakpoint(medium) {
                                height: 170px;
                            }
                            
                            &:after {
                                content: '\f1ce';
                                @include position-absolute(50%, auto, auto, 50%);
                                @include transform-translate(-50%, -50%);
                                font-family: 'FontAwesome';
                                font-size: 26px;
                                animation: loading 2s infinite linear;
                                z-index: -1;
                            }
                        }


                        .overlay {
                            opacity: 0;
                            @include position-absolute(0, auto, auto, 0);
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                            @include transition-single(all 500ms);
                            z-index: 1;

                            .fa-play {
                                color: #ffffff;
                                font-size: 27px;
                                border: 2px solid #ffffff;
                                width: 55px;
                                height: 55px;
                                @include position-absolute(50%, auto, auto, 50%);
                                @include transform-translate(-50%, -50%);
                                @include border-radius(50%, 50%, 50%, 50%);

                                &:before {
                                    @include position-absolute(50%, auto, auto, 50%);
                                    @include transform-translate(-39%, -50%);
                                }
                            }

                        }

                        &:hover {

                            .overlay {
                                opacity: 1;
                            }
                        }
                    }

                    .fa-link {
                        color: #ffffff;
                        @include position-absolute(auto, 5px, 2px, auto);
                        font-size: 18px;
                        z-index: 10;
                        cursor: pointer;
                        padding: 5px;
                    }

                }

                .video-info {
                    float: left;
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 40px;
                    @include breakpoint(small) {
                        margin-bottom: 0px;
                    }

                    h3 {
                        font-family: $font_subheading;
                        font-weight: 100;
                    }

                    .description {
                        font-size: 14px;
                    }
                }

                .wisita-video-wrapper {
                    display: none;
                    width: 85%;
                    position: fixed !important;
                    z-index: 1000;
                    @include position-absolute(50%, auto, auto, 50%);
                    @include transform-translate(-50%, -50%);

                    .close-video {
                        @include position-absolute(-30px, -30px, auto, auto);
                        width: 30px;
                        height: 30px;
                        font-size: 18px;
                        color: #ffffff;
                        @include border-radius(50%, 50%, 50%, 50%);
                        border: 1px solid #ffffff;
                        cursor: pointer;

                        .fa-close {
                            @include position-absolute(50%, auto, auto, 50%);
                            @include transform-translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}
