/* Contact */
.page-template-page-contact {

    /* Section One */
	.section-one {
        color: #fff;
        width: 100%;
        padding: 40px 20px;
        @include breakpoint(medium) {
            padding: 60px 20px;
        }

        .container {
            @media (max-width: 1070px) {
                padding-left: 50px;
                padding-right: 50px;
            }

            @include breakpoint(large) {
                max-width: 960px;
                margin: 0 auto;
            }

            .section-one-content {
                margin-bottom: 30px;
            }

            h1 {
                @include font-size(3.6);
            }

            p {
                font-family: $font_subheading;
                @include font-size(1.8);
                font-weight: 100;
            }

            .section-one-details {

                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                }

                .section-one-details-content {
                    position: relative;
                    margin-bottom: 40px;

                    .fa {
                        @include font-size(3.6);
                    }

                    p {
                        display: inline-block;
                        padding-left: 40px;
                        margin-bottom: 0px;
                    }

                    a {
                        color: #fff;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .wpcf7-form {
                width: 100%;
                max-width: none;
            }
        }

    }

    .section-two {
        position: relative;

        .container-fluid {
            padding: 0;

            .acf-map {
            	width: 100%;
            	height: 500px;
            }

            /* fixes potential theme css conflict */
            .acf-map img {
               max-width: inherit !important;
            }
        }
    }

}
