/* Home */
.home {
	.our-work-link a {
		cursor: pointer;
	}
	/* Studio Hire */
	/* Section One */
	.section-one {
		height: 420px;
		@include breakpoint(medium) {
			height: 80vh;
		}
		.parallax-window {
			position: relative;
			height: 100%;
			video#bgvid {
				display: none;
				position: fixed !important;
				@include position-absolute(50%, auto, auto, 50%);
				@include transform-translate(-50%, -50%);
				background-size: cover;
				z-index: -1;
				@include breakpoint(medium) {
					display: block;
					height: 100%;
				}
				@include breakpoint(1920px) {
					width: 100%;
				}
			}
			.parallax-content {
				@include position-absolute(50%, auto, auto, 38%);
				@include transform-translate(-50%, -50%);
				width: 100%;
				max-width: 700px;
				opacity: 0;
				padding: 20px;
				h1 {
					font-size: 40px;
					font-weight: bold;
					margin: 0 0 10px 0;
					line-height: 5rem;
					color: #ffffff;
					@include breakpoint(medium) {
						font-size: 60px;
						margin: 0 0 20px 0;
					}
				}
				p {
					color: #ffffff;
					font-size: 16px;
					font-family: $font_subheading;
					font-weight: 100;
					@include breakpoint(medium) {
						font-size: 20px;
					}
				}
			}
			&:after {
				background: #d7df21;
				@include position-absolute(auto, 0, -85px, 0);
				content: '';
				display: block;
				height: 110px;
				transform: skewY(1.5deg);
				-webkit-transform: skewY(1.5deg);
				-moz-transform: skewY(1.5deg);
				-ms-transform: skewY(1.5deg);
				transform-origin: bottom right;
				-webkit-transform-origin: bottom right;
				-moz-transform-origin: bottom right;
				-ms-transform-origin: bottom right;
			}
		}
	}
	/* Section Two */
	.section-two {
		position: relative;
		padding: 60px 20px 80px 20px;
		background: #ffffff;
		@include breakpoint(small) {
			padding: 100px 20px 120px 20px;
		}
		&:before {
			background: inherit;
			@include position-absolute(-25px, 0, auto, 0);
			content: '';
			display: block;
			height: 110px;
			transform: skewY(-0.3deg);
			-webkit-transform: skewY(-0.3deg);
			-moz-transform: skewY(-0.3deg);
			-ms-transform: skewY(-0.3deg);
			transform-origin: top;
			-webkit-transform-origin: top;
			-moz-transform-origin: top;
			-ms-transform-origin: top;
			z-index: 0;
		}
		h3 {
			font-family: $font_subheading;
			margin: 0 0 30px 0;
			font-size: 21px;
			@include breakpoint(small) {
				font-size: 29px;
			}
		}
		.description {
			line-height: 1.7;
			font-family: $font_subheading;
			font-size: 14px;
			@include breakpoint(small) {
				font-size: 16px;
			}
			p:last-child {
				margin-bottom: 0px;
			}
		}
		&:after {
			background: inherit;
			@include position-absolute(auto, 0, -12px, 0);
			content: '';
			display: block;
			height: 50px;
			transform: skewY(-0.9deg);
			-webkit-transform: skewY(-0.9deg);
			-moz-transform: skewY(-0.9deg);
			-ms-transform: skewY(-0.9deg);
			transform-origin: top;
			-webkit-transform-origin: top;
			-moz-transform-origin: top;
			-ms-transform-origin: top;
			z-index: 2;
		}
		.button {
			font-size: 14px;
			@include breakpoint(small) {
				font-size: 18px;
			}
		}
	}
	/* Section Three */
	.section-three {
		position: relative;
		overflow: hidden;
		height: 460px;
		@include breakpoint(medium) {
			height: 700px;
		}
		.pan {
			position: relative;
			height: 100%;
			width: 100%;
			cursor: pointer;
			&:hover {
				.pan-overlay {
					opacity: 0;
					z-index: 0
				}
			}
			.pan-overlay {
				opacity: 1;
				z-index: 1;
				background: rgba(0, 0, 0, 0.65);
				width: 100%;
				height: 100%;
				@include position-absolute(0, auto, auto, 0);
				@include transition-single(all 500ms);
				pointer-events: none;
			}
		}
		.pan:hover+.pan-instructions {
			opacity: 0;
		}
		.pan-instructions {
			opacity: 1;
			@include transition-single(all 500ms);
			@include position-absolute(50%, auto, auto, 50%);
			@include transform-translate(-50%, -60%);
			z-index: 2;
			pointer-events: none;
			h4 {
				font-size: 18px;
				color: #ffffff;
				margin: 0px 0 0 0;
				max-width: 280px;
				@include breakpoint(small) {
					font-size: 24px;
				}
			}
			.fa {
				font-size: 50px;
				color: #ffffff;
				margin-bottom: 20px;
				@include breakpoint(small) {
					font-size: 75px;
				}
			}
		}
	}
	/* Section Four */
	.section-four {
		position: relative;
		padding: 70px 20px 105px 20px;
		background: #ffffff;
		&:before {
			background: inherit;
			@include position-absolute(-25px, 0, auto, 0);
			content: '';
			display: block;
			height: 50px;
			transform: skewY(-0.9deg);
			-webkit-transform: skewY(-0.9deg);
			-moz-transform: skewY(-0.9deg);
			-ms-transform: skewY(-0.9deg);
			transform-origin: top;
			-webkit-transform-origin: top;
			-moz-transform-origin: top;
			-ms-transform-origin: top;
			z-index: 1;
		}
		.container {
			position: relative;
			z-index: 2;
			h3 {
				font-family: $font_subheading;
				margin: 0 0 30px 0;
				font-size: 21px;
				@include breakpoint(small) {
					font-size: 29px;
				}
			}
			.description {
				line-height: 1.7;
				font-size: 14px;
				font-family: $font_subheading;
				@include breakpoint(small) {
					font-size: 16px;
				}
				p:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	/* Section Five */
	.section-five {
		position: relative;
		padding: 70px 20px;
		background: rgb(163, 35, 142);
		background: -moz-linear-gradient(left, rgba(163, 35, 142, 1) 1%, rgba(0, 32, 53, 1) 100%);
		background: -webkit-linear-gradient(left, rgba(163, 35, 142, 1) 1%, rgba(0, 32, 53, 1) 100%);
		background: linear-gradient(to right, rgba(163, 35, 142, 1) 1%, rgba(0, 32, 53, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3238e', endColorstr='#002035', GradientType=1);
		.container-fluid {
			max-width: 1400px;
			width: 100%;
			.images {
				padding: 15px;
				position: relative;
				.fancybox {
					position: relative;
					display: block;
					width: 100%;
					&:hover {
						&:after {
							opacity: 0;
						}
					}
					span {
						@include box-shadow(0px 0px 32px 3px rgba(0, 0, 0, 0.2));
						position: relative;
						height: 280px;
						display: block;
						width: 100%;
					}
					&:after {
						content: '';
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.25);
						@include position-absolute(0, auto, auto, 0);
						z-index: 1;
						pointer-events: none;
						cursor: pointer;
						opacity: 1;
						@include transition-single(all 500ms);
					}
				}
			}
		}
	}
	/* Section Seven */
	.section-seven {
		position: relative;
		background: #ffffff;
		padding: 80px 0px 0 0;

		.row {
			margin: 0;
		}

		.col-xs-12,
		.container-fluid {
			padding: 0;
		}

		h1 {
			color: $purple;
			margin: 0 0 80px 0;
			font-weight: bold;
			font-size: 32px;
			font-family: $font__heading;
			text-align: center;
			@include breakpoint(small) {
				font-size: 47px;
			}
		}

		.active-project {
			float: left;
			width: 100%;
			display: none;
			text-align: center;
			padding-top: 10px;

			.video-columns {
				width: 70%;
				float: none;
				display: inline-block;
				@include transition-single(all 500ms);
				.video-thumbnail-content {
					@include transition-single(all 500ms);
					display: none;
					.video-thumbnail {
						height: 749px;
						@include transition-single(all 500ms);
					}
					.overlay {
						display: none;
					}
				}
				.video-contents {
					height: auto;
					text-align: left;
					@include transition-single(all 500ms);

					.project-video {
						.close-project {
							display: block;
						}
					}
				}
			}
		}

		.video-columns {
			@include transition-single(all 500ms);
			
			.video-thumbnail-content {
				position: relative;

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					@include position-absolute(0, auto, auto, 0);
					background: #f3f3f3;
					z-index: 0;
				}


				.overlay {
					opacity: 0;
					@include position-absolute(0, auto, auto, 0);
					width: 100%;
					height: 100%;
					background: -moz-linear-gradient(left, rgba(163, 35, 142, 0.95) 0%, rgba(161, 35, 141, 0.95) 1%, rgba(0, 32, 56, 0.95) 100%);
					background: -webkit-linear-gradient(left, rgba(163, 35, 142, 0.95) 0%, rgba(161, 35, 141, 0.95) 1%, rgba(0, 32, 56, 0.95) 100%);
					background: linear-gradient(to right, rgba(163, 35, 142, 0.95) 0%, rgba(161, 35, 141, 0.95) 1%, rgba(0, 32, 56, 0.95) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6a3238e', endColorstr='#e6002038', GradientType=1);
					@include transition-single(all 500ms);
					z-index: 1;
					cursor: pointer;
					h2 {
						color: #ffffff;
						@include position-absolute(50%, auto, auto, 50%);
						@include transform-translate(-50%, -50%);
						padding: 40px;
						width: 100%;
						margin: 0;
						width: 100%;
						max-width: 50%;
						text-align: center;
						font-weight: bold;
						font-size: 32px;
						border: 2px solid #ffffff;
					}
				}

				&:hover {
					.overlay {
						opacity: 1;
					}
				}
				
				.video-thumbnail {
					height: 540px;
					cursor: pointer;
					position: relative;

					&.thumbnail-loaded {
						&:after {
							display: none;
						}
					}

					&:after {
						content: '\f1ce';
						@include position-absolute(50%, auto, auto, 50%);
						@include transform-translate(-50%, -50%);
						font-family: 'FontAwesome';
						font-size: 26px;
						animation: loading 2s infinite linear;
						z-index: 1;
					}
				}
			}

			.video-contents {
				float: left;
				width: 100%;
				height: 0;

				.project-video {
					position: relative;

					.close-project {
						display: none;
						background: $purple;
						@include position-absolute(-10px, -10px, auto, auto);
						width: 35px;
						height: 35px;
						font-size: 18px;
						color: #ffffff;
						@include border-radius(50%, 50%, 50%, 50%);
						border: 1px solid #791168;
						cursor: pointer;
						z-index: 1;
						@include transition-single(all 200ms);
						.fa-close {
							@include position-absolute(50%, auto, auto, 50%);
							@include transform-translate(-50%, -50%);
							font-size: 18px;
						}
						&:hover {
							@include transform-scale(1.1);
							@include transition-single(all 200ms);
						}
					}
				}

				.video-contents-wrapper {
					float: left;
					width: 100%;
					padding: 60px;

					h2 {
						margin: 0 0 40px 0;
						color: $purple;
					}

					.description {
						font-family: $font_subheading;
					}
				}

			}
		}
	}

	/* Section Six */
	.section-six {
		position: relative;
		background: #f9f9f9;
		padding: 80px 40px 20px 40px;
		@include breakpoint(medium) {
			padding: 80px 40px 130px 40px;
		}
		.col-xs-12,
		.container-fluid {
			padding: 0;
		}
		h1 {
			color: $purple;
			margin: 0 0 40px 0;
			font-weight: bold;
			font-size: 32px;
			font-family: $font__heading;
			@include breakpoint(small) {
				font-size: 47px;
			}
		}
		.description {
			max-width: 600px;
			display: block;
			margin: 0 auto 40px auto;
			line-height: 1.7;
			font-size: 14px;
			font-family: $font_subheading;
			@include breakpoint(small) {
				font-size: 16px;
			}
		}
		.package-container {
			position: relative;
			margin-top: 20px;
			float: left;
			width: 100%;
			padding-bottom: 50px;
			@include breakpoint(medium) {
				margin-top: 90px;
			}
			.package-wrapper {
				display: inline-block;
				width: 100%;
				margin: 0 auto;
				float: none;
				position: relative;
				max-width: 330px;
				@include breakpoint(small) {
					max-width: 415px;
				}
				@include breakpoint(medium) {
					max-width: 925px;
				}
				@include breakpoint(1450px) {
					max-width: 1245px;
				}
				.package-inner-wrapper {
					position: relative;
					width: max-content;
					.package-contents {
						background: #ffffff;
						@include box-shadow(0px 0px 136px 1px rgba(0, 0, 0, 0.10));
						width: 100%;
						position: relative;
						left: 0px;
						max-width: 330px;
						margin: 0 auto 40px auto;
						float: left;
						@include transition-single(all 500ms);
						@include breakpoint(small) {
							max-width: 415px;
						}
						@include breakpoint(medium) {
							width: 308px;
							margin: 0;
							cursor: pointer;
							max-width: none;
						}
						@include breakpoint(1450px) {
							width: 415px;
						}
						&:after {
							content: '';
							@include position-absolute(0, auto, auto, 0);
							width: 100%;
							height: 100%;
							background: rgba(249, 249, 249, 0.4);
							display: none;
							@include breakpoint(medium) {
								display: block;
							}
						}
						&.active {
							opacity: 0;
						}
						&.not-visible {
							opacity: 0;
							pointer-events: none;
							@include transition-single(all 500ms);
						}
						&.visible {
							z-index: 1;
							opacity: 1;
							@include transition-single(all 500ms);
							@include breakpoint(medium) {
								@include transform-scale(1.12);
							}
							&:after {
								display: none;
							}
						}
						.package-header {
							background: $purple;
							color: #ffffff;
							min-height: 220px;
							position: relative;
							&>div {
								width: 100%;
								max-width: 75%;
								@include position-absolute(50%, auto, auto, 50%);
								@include transform-translate(-50%, -50%);
								h4 {
									font-family: $font_subheading;
									font-size: 24px;
									margin: 0 0 20px 0;
								}
								.package-description {
									font-family: $font_subheading;
									line-height: 1.7;
									font-size: 14px;
								}
							}
						}
						.package-options {
							background: #ffffff;
							padding: 20px;
							min-height: 105px;
							position: relative;
							&:nth-of-type(odd) {
								background: #fafafa;
							}
							.package-options-wrapper {
								width: 100%;
								float: left;
								max-width: 80%;
								@include position-absolute(50%, auto, auto, 50%);
								@include transform-translate(-50%, -50%);
								.option-description {
									font-family: $font_subheading;
									float: left;
									width: 100%;
									font-size: 14px;
								}
								.option-price {
									font-family: $font__heading !important;
									color: $purple;
									font-size: 21px;
									margin-top: 0px;
									font-weight: bold !important;
									float: left;
									width: 100%;
								}
							}
						}
						.button {
							margin: 35px 0;
							padding: 8px 40px;
							font-size: 14px;
						}
					}
				}
				.package-arrows {
					.nav-arrows {
						cursor: pointer;
						font-size: 50px;
						opacity: 0.2;
						color: $purple;
						z-index: 1;
						@include position-absolute(50%, auto, auto, 0px);
						@include transform-translateY(-50%);
						@include transition-single(all 0.3s);
						@include breakpoint(1111px) {
							left: -80px;
						}
						&:hover {
							opacity: 1;
						}
						&.disable {
							pointer-events: none;
						}
					}
					#next {
						right: 0px;
						left: auto;
						@include breakpoint(1111px) {
							right: -80px;
						}
					}
				}
			}
			.package-nav {
				display: inline-block;
				margin: 0 auto;
				@include position-absolute(auto, auto, 40px, 50%);
				@include transform-translateX(-50%);
				@include breakpoint(medium) {
					bottom: -40px;
				}
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						padding: 0;
						margin: 0 5px;
						float: left;
						&.active {
							span {
								background: $purple;
								border-color: $purple;
								@include transition-single(all 0.5s);
							}
						}
						span {
							float: left;
							width: 12px;
							height: 12px;
							border: 1px solid #c7c7c7;
							@include border-radius(100%, 100%, 100%, 100%);
						}
					}
				}
			}
		}
	}
}