.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	margin-top: 90px;
}

.logged-in .site-content {
	margin-top: 77px;
	@include breakpoint(783px) {
		margin-top: 90px;
	}
}

@import "home";
@import "projects";
@import "contact";
@import "blog";
@import "404";
@import "client-videos";
@import "studio-hire";
