/* Projects */
.page-template-page-projects {

    /* Section One */
	.section-one-loop {
        float: left;
        position: relative;
        width: 100%;

		.parallax-window {
			position: relative;
            padding: 40px 20px;
            overflow: hidden;
            @include breakpoint(medium) {
                height: 800px;
            }

            .down-arrow-link {
                @include position-absolute(auto, 50%, 20px, auto);
                @include font-size(2.2);
                color: rgba(255, 255, 255, 0.6);
                border: 2px solid rgba(255, 255, 255, 0.6);
                @include border-radius(100%, 100%, 100%, 100%);
                cursor: pointer;
                width: 40px;
                height: 40px;
                z-index: 10;

                .glyphicon {
                    top: 5px;
                }
            }

			.parallax-content {
                position: relative;
				width: 100%;
                margin-bottom: 40px;
                @include breakpoint(medium) {
                    @include position-absolute(50%, auto, auto, 0);
    				@include transform-translateY(-55%);
                    margin-bottom: 0px;
                }

                .col-xs-12:first-child {
                    text-align: left;
                    margin-bottom: 40px;
                    @include breakpoint(medium) {
                        @include position-absolute(50%, auto, auto, 0);
                        @include transform-translateY(-50%);
                        margin-bottom: 0px;
                    }

                    @include breakpoint(small) {
                        padding-left: 61px;
                    }
                }

                .section-one-content {
                    opacity: 0;
                    position: relative;
                    float: none !important;
                    margin: 0 auto;
                    max-width: 460px;
                    @include breakpoint(medium) {
                        float: right !important;
                    }

                    @include breakpoint(small) {
                        left: 20%;
                    }

    				h2 {
    					color: #ffffff;
    					@include font-size(4.0);
    					font-weight: bold;
    					margin: 10px 0 0 0;
    					line-height: 5rem;
                        text-transform: uppercase;
    				}

    				h3 {
    					@include font-size(2.5);
    					line-height: 2.5rem;
                        text-transform: uppercase;
                        margin-top: 0px;
    				}

                    span {
                        color: #ffffff;
                    }

                    p {
                        color: #ffffff;
                        font-family: $font_subheading;
                        @include font-size(1.7);
                        font-weight: 100;
                    }

                    i {
                        p {
                            color: #d8d8d8;
                            @include font-size(1.5);
                        }
                    }

                    a {
                        color: white;
                    }

                    img {
                        height: 50px;
                    }

                    .button {
                        margin-top: 20px;
                        opacity: 0;
                        position: relative;
                        left: 50%;
                    }
                }


                .col-md-6:last-child {
                    text-align: center;
                    @include breakpoint(medium) {
                        text-align: left;
                    }

                    img {
                        opacity: 0;
                        width: 100%;
                        max-width: 450px;
                        @include breakpoint(medium) {
                            width: 100%;
                            max-width: 900px;
                            max-height: 700px;
                        }
                        @include breakpoint(large) {
                            width: auto;
                            max-width: 100%;
                        }
                    }
                }
			}

            &:nth-child(even) .parallax-content  {

                .section-one-content {
                    @include breakpoint(medium) {
                        float: left !important;
                        padding-left: 35px;
                    }
                }

                .col-md-6:first-child {
                    float: right;
                    text-align: left;
                    padding-left: 15px;
                    @include breakpoint(medium) {
                        @include position-absolute(50%, 0, auto, auto);
                        @include transform-translateY(-50%);
                    }
                }

                .col-md-6:last-child {
                    padding-left: 61px;
                    @include breakpoint(medium) {
                        float: left !important;
                        text-align: right;
                    }
                }
            }
		}

	}
}

// goin CRAZY ova hea
html {
    text-overflow: none;
}